<h1>Stupid Coaching</h1>

<div class = "box me">
<p class="text"><%= params[:answer] %></p>
<p class= "owner">- you</p>
</div>
<br>
<div class = "box coach">
<p class="text"><%=@answer%></p>
<p class= "owner">- Your coach</p>
</div>



<a><%= link_to 'Ask a new question', ask_path %></a>
