// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}

.coach {
  background-color: #FFFEE1;
}


.owner {
  font-weight: italic;
}

.box {
  display: flex;
  flex-direction: column;
  border-left: solid;
  border-color: #DEDEDE;
  padding: 10px;
  line-height: 0px;
}

a {
  color: blue;
  &:hover {
    color: grey;
  }
  text-decoration: none;
}
